code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: skyblue;
  --secondary-color: #024e76;
  --tertiary-color: #fce138;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--secondary-color);
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

/* header and nav styles */
header {
  padding: 20px 35px;
  background-image: url("../public/images/footer-grad-bow.jpeg");
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  color: #ff69b4;
}

header h1 a {
  color: #ff69b4;
}

header nav {
  margin-top: 7px;
  margin-bottom: 0;
  display: flex;
  font-weight: bold;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0 12px;
}

header nav ul a {
  color: var(--secondary-color);
  padding: 0px;
}

header nav ul a:after {
  display: block;
  content: "";
  padding-bottom: 8px;
  border-bottom: solid 2px var(--primary-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

header nav ul a:hover:after {
  transform: scale(1, 1);
  transform-origin: 50% 50%;
}

section {
  padding: 20px 35px;
  font-weight: bold;
  color: #fff;
  background-color: var(--secondary-color);
  background-size: cover;
  /* display: flex; */
  justify-content: center;
  /* flex-wrap: wrap; */
  text-align: left;
  padding: 1% 10%;
}

.wrap {
  line-height: normal;
}
/* hero styles */
.hero {
  background-image: url("../public/images/hero-headshot-vinyls.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 40px;
  padding: 250px 0;
}

form {
  width: 100%;
}

/* main body styles */
.intro {
  flex: 2;
  padding-top: 25px;
}

.intro a {
  color: rgba(255, 255, 255, 1);
}

.intro h3 {
  font-size: 26px;
  border-bottom: 1px solid var(--tertiary-color);
  margin-bottom: 12px;
}

.intro a:visited {
  color: rgba(255, 255, 255, 1);
}

.guts {
  flex: 6;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.guts h4 {
  padding-bottom: 4px;
  font-weight: 600;
  width: 100%;
}

.guts h4,
.guts p {
  padding-left: 10px;
}

.guts a {
  color: #fce138;
}

img {
  border-radius: 12px;
}

.card {
  flex: 0 0 31%;
  padding: 5px;
  margin: 8px;
  border: 1px solid #fce138;
  border-radius: 12px;
  color: var(--secondary-color);
  background-color: #fff;
  line-height: 24px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  transform: scale(1.015);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card a {
  color: var(--secondary-color);
}

.card h4 {
  margin-top: 30%;
  padding-bottom: 6px;
}

/* contact styling */
.contact,
.social {
  text-align: center;
}

.social a {
  color: #2c314c;
  font-size: 20px;
  padding: 1%;
}

.social h3 {
  padding-bottom: 10px;
}

label {
  display: block;
}

input {
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 12px;
  border-color: var(--secondary-color);
}

textarea {
  width: 100%;
  border-radius: 12px;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #fce138;
}

.error-text {
  padding-bottom: 8px;
}

button {
  color: rgba(255, 255, 255, 1);
  padding: 12px;
  margin-top: 8px;
  font-size: large;
  background-color: #ff69b4;
  border-radius: 12px;
}

button:hover {
  color: var(--secondary-color);
  background: var(--tertiary-color);
}

.flex-row {
  display: flex;
}
/* footer styling */

.resume {
  line-height: 1.75em;
}

.resume ul {
  margin-left: 30px;
}

.resume h3 {
  margin-bottom: 10px;
}

footer {
  padding: 20px 35px;
  font-weight: bold;
  color: #2c314c;
  background-color: #999;
  background-image: url("../public/images/footer-grad-bow.jpeg");
  background-size: cover;
  /* display: flex; */
  justify-content: center;
  /* flex-wrap: wrap; */
}

/* media queries */
@media screen and (max-width: 992px) {
  .card {
    flex: 0 0 47%;
  }
}
@media screen and (max-width: 768px) {
  .card {
    flex: 0 0 45%;
  }
}
@media screen and (max-width: 575px) {
  header {
    padding: 20px 15px 10px 15px;
    justify-content: center;
  }
  header h1 {
    font-size: 2.25em;
  }
  header nav {
    margin-top: 15px;
  }
  section {
    padding: 1%;
  }
  .intro {
    flex: 1 100%;
    padding: 30px;
    padding-bottom: 0px;
  }
  .card {
    flex: 100%;
  }
  .hero h2 {
    font-size: 50px;
  }
  nav ul {
    margin: 0 9;
  }
  nav a {
    font-size: 1.2em;
    font-weight: bold;
  }
  #social.guts {
    padding-left: 30px;
  }
  #contact .guts {
    flex-direction: column;
    padding-left: 30px;
  }
  .social {
    padding-top: 15px;
  }
}

.navActive {
  color: #ff69b4;
}
